@{
    ViewData["Title"] = "Dashboard";
}

<h3>@ViewData["Title"]</h3>
<p>Manage your account settings, and set up social network integration.</p>

<section class="py-3">
    <div class="card">
        <div class="card-body">
            a
        </div>
    </div>
</section>