@{
    ViewData["Title"] = "Política de Privacidade";
}

<h3>@ViewData["Title"]</h3>

<section class="py-3">
    <div class="card">
        <div class="card-body">
            Não possuímos politica e nem Privacidade
        </div>
    </div>
</section>